# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
logback-spring.xml
out
gen

###.gitignore
###xc-framework-common/src/main/java/com/xuecheng/framework/exception/
###xc-framework-common/src/main/java/com/xuecheng/framework/interceptor/
###xc-framework-common/src/main/resources/
###xc-framework-common/src/test/
###xc-framework-model/src/main/resources/
###xc-framework-model/src/test/
###xc-framework-model/target/generated-sources/
###xc-framework-utils/src/main/resources/
###xc-framework-utils/src/test/
###xc-service-api/src/main/resources/
###xc-service-api/src/test/
###xc-service-api/target/generated-sources/
###xc-service-manage-cms/src/main/java/com/xuecheng/manage_cms/config/
###xc-service-manage-cms/src/main/java/com/xuecheng/manage_cms/dao/
###xc-service-manage-cms/src/main/java/com/xuecheng/manage_cms/service/
###xc-service-manage-cms/src/test/
###xc-service-manage-cms/target/generated-sources/
/.idea/
xc-framework-model/target/generated-sources/
xc-service-api/target/classes/META-INF/
xc-service-api/target/classes/com/xuecheng/api/cms/CmsConfigControllerApi.class
xc-service-api/target/classes/com/xuecheng/api/cms/CmsSiteControllerApi.class
xc-service-api/target/classes/com/xuecheng/api/course/
xc-service-api/target/classes/com/xuecheng/api/system/
xc-service-api/target/generated-sources/
xc-service-base-filesystem/src/main/java/com/xuecheng/filesystem/controller/
xc-service-base-filesystem/src/main/java/com/xuecheng/filesystem/dao/
xc-service-base-filesystem/src/main/java/com/xuecheng/filesystem/service/
xc-service-base-filesystem/src/test/
xc-service-base-filesystem/target/generated-sources/
xc-service-manage-cms-client/pom.xml
xc-service-manage-cms-client/src/main/java/com/xuecheng/manage_cms_client/controller/
xc-service-manage-cms-client/src/test/
xc-service-manage-cms-client/target/classes/application.yml
xc-service-manage-cms-client/target/generated-sources/
xc-service-manage-cms/target/classes/META-INF/
xc-service-manage-cms/target/classes/com/xuecheng/manage_cms/config/
xc-service-manage-cms/target/classes/com/xuecheng/manage_cms/controller/CmsConfigController.class
xc-service-manage-cms/target/classes/com/xuecheng/manage_cms/controller/CmsPagePreviewController.class
xc-service-manage-cms/target/classes/com/xuecheng/manage_cms/controller/CmsSiteController.class
xc-service-manage-cms/target/classes/com/xuecheng/manage_cms/dao/
xc-service-manage-cms/target/classes/com/xuecheng/manage_cms/service/
xc-service-manage-cms/target/generated-sources/
xc-service-manage-cms/target/generated-test-sources/
xc-service-manage-cms/target/test-classes/
xc-service-manage-course/pom.xml
xc-service-manage-course/src/main/resources/com/xuecheng/manage_course/dao/CourseMapper.xml
xc-service-manage-course/src/main/resources/com/xuecheng/manage_course/dao/TeachplanMapper.xml
xc-service-manage-course/target/classes/META-INF/
xc-service-manage-course/target/classes/com/xuecheng/manage_course/controller/
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/CategoryMapper.class
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/CategoryMapper.xml
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/CourseMapper.xml
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/CourseMarketRepository.class
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/SysDictionaryRepository.class
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/TeachPlanRepository.class
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/TeachplanMapper.class
xc-service-manage-course/target/classes/com/xuecheng/manage_course/dao/TeachplanMapper.xml
xc-service-manage-course/target/classes/com/xuecheng/manage_course/service/
xc-service-manage-course/target/generated-sources/
xc-service-manage-course/target/generated-test-sources/
